---
import Layout from "@layouts/Page.astro";
---

<Layout>
  <div id="nfbase">
    <img id="nf" src="assets/notfound.png" alt="Not Found Image" />
  </div>
</Layout>

<style lang="scss">
  #nfbase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  #nf {
    width: 50vh;
    height: 50vh;
  }
</style>
