<footer>
	<p>
		Copyright (c) 2024 sotiesman
		<span class="seperator">∑</span>
		<a href="https://github.com/fawni/fawn.moe" target="_blank">Source code</a>
	</p>
</footer>

<style lang="scss">
	@use "@styles/_thorns.scss";

	footer {
		font-family: "Iosevka";
		margin-top: auto;
		width: 100%;
		display: flex;
		justify-content: center;
		font-size: 0.85rem;
	}

	.seperator {
		color: thorns.$green;
	}
</style>
